@import url('https://fonts.googleapis.com/css?family=Pontano+Sans');
* { margin:0; padding:0; box-sizing:border-box; }
body {
	color: #404040; 
	background-color: #ffe9ec; 
	font-family: "times new Roman", Times, serif;
	font-size:18px;
	font-weight:200;
	line-height: 1.5;
	text-align: center; 
}
header {
	text-align: center;  
}
.scrollmenu {
    background-color: #333;
}
.scrollmenu a {
    display: inline-block;
    color: white;
    padding: 1em;
    text-decoration: none;
}
.scrollmenu a:hover {
    background-color: #777;
}
h1, h2 {font-weight: 200;}


h1 {font-size: 4em; font-family: 'Pontano Sans', sans-serif; text-transform: uppercase;}

}
h2 {
	font-style: italic; 
	font-size: 1.5em;
}
img  {
	opacity: .7; 
	display: block;
	margin: auto;
    width: 50%
}    
a {
	color: inherit;
}

